@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --linear-gradient-1: linear-gradient(142deg, rgba(234,198,145,1) 0%, rgba(234,198,145,0) 54%, rgba(234,198,145,1) 100%);
    --linear-gradient-2:linear-gradient(133deg, rgba(234,198,145,1) 0%, rgba(0,0,0,0.9108018207282913) 100%);
    --linear-gradient-3:linear-gradient(320deg, rgba(234,198,145,1) 0%, rgba(83,82,132,1) 100%);
    --linear-gradient-4: linear-gradient(294deg, rgba(234,198,145,1) 0%, rgba(0,0,0,1) 100%);

    --lit-100: #fff;
    --lit-200: #d6d6d6;
    
    --dark-100: #000000;
    --dark-200: #757575;
    --dark-300: #a1a1a1;

    --dsgn:#eac691;


    /* home page variables  */

    --home-dark-100: #010001;
    --home-dark-200: #141515;

    --home-design-100: #EAC791;
    --home-design-200: #E28A00;
    --home-design-lit: #FFF9ED;

    --home-text-dark-100:#000000;
    --home-text-dark-200:#5c5c5c;
    --home-text-dark-300:#818181;
    
    --home-text-lit-100:#ffff;
    --home-text-lit-200:#e0e0e0;
}

.container{
    position: relative;
    z-index: 1;
    width: 90%;
    margin-inline: auto;
}



body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: .3px;
}

.body{
    background: var(--linear-gradient-1);
}



/*Landing Page Nav */

.nav{
    display: flex;
    background: var(--home-dark-100);
    position: sticky;
    top: 0;
    z-index: 100;

    .nav-container{
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--home-text-dark-300);

        .logo{
            border: none;
            width: 150px;
            

            img{
                width: 100%;
                border: none;
                cursor: pointer;
            }
        }


        .right{
            display: flex;
            gap: 1rem;
            align-items: center;
            /* the menu items */
            .nav-list{
                display: flex;

                .list-items{
                    display: flex;
                    list-style: none;
                    cursor: pointer;

                    a{
                        text-decoration: none;
                        font-size: 14px;
                        color: var(--home-text-lit-100);
                        padding: 1rem 2rem;
                        text-transform: capitalize;
                        transition: all 350ms ease;
                    }
                }

                .list-items:hover,
                .list-items.active{
                    
                    a{
                        color: var(--home-design-100);
                    }
                }
            }
            
            .reg-btn{
                text-transform: capitalize;
                padding: .8rem 2rem;
                display: flex;
                font-size: 14px;
                text-decoration: none;
                background: var(--home-design-100);
                color: var(--home-dark-100);
                border: 2px solid transparent;    
                border-radius: 4ch;
                transition: all 350ms ease;
                cursor: pointer;

                &:hover{   
                    background: var(--home-dark-100);
                    border: 2px solid var(--home-design-100);
                    color: var(--home-design-100);
                }
            }
        }

        #bars{
            color: var(--home-text-dark-100);
            background: var(--dsgn);
            padding: 1rem;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            display: none;
        }

        @media(width < 390px) {

            .right{
                .nav-list{
                    display: none;
                }
                .reg-btn{
                    display: flex;
                }
                
                            #bars{
                                display: flex;
                            }
            }
        }
        @media(width < 990px) {

            .right{
                .nav-list{
                    display: none;
                }
                .reg-btn{
                    display: none;
                }
                
                            #bars{
                                display: flex;
                            }
            }
        }
    }
}

/* side bar */
.sidebar{
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    padding: 3rem 1rem;
    z-index: 90;
    background: var(--home-dark-100);

    .nav-list{
        display: flex;
        flex-direction: column;

        .list-items{
            display: flex;
            list-style: none;
            cursor: pointer;

            a{
                text-decoration: none;
                font-size: 14px;
                color: var(--home-text-lit-100);
                padding: 1rem 2rem;
                text-transform: capitalize;
                transition: all 350ms ease;
            }
        }

        .list-items:hover,
        .list-items.active{
            
            a{
                color: var(--home-design-100);
            }
        }
    }
    
    .reg-btn{
        text-transform: capitalize;
        padding: .8rem 2rem;
        display: flex;
        font-size: 14px;
        text-decoration: none;
        background: var(--home-design-100);
        color: var(--home-dark-100);
        border: 2px solid transparent;    
        border-radius: 4ch;
        transition: all 350ms ease;
        cursor: pointer;

        &:hover{   
            background: var(--home-dark-100);
            border: 2px solid var(--home-design-100);
            color: var(--home-design-100);
        }
    }
}

.sidebar.active{
    display: flex;
    flex-direction: column;
}



/* the hero section */
.hero{
    min-height: 50vh;
    height: 90vh;
    background: url(../image/heroimage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .hero-container{
        display: flex;
        align-items: center;
        height: 100%;

        .hero-content{
            width: min(40rem, 100%);
            color: var(--lit-100);
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h4{
                font-size:18px;
                font-weight: 700;
                text-transform: capitalize;
            }

            h1{
                display: flex;
                flex-direction: column;
                font-weight: 900;
                font-size: 60px;
                color: var(--home-design-100);
            }

            p{
                font-size: 14px;
                font-weight: 500;
                line-height: 25px;
            }

            .hero-btn{
                padding: .8rem 2rem;
                text-decoration: none;
                display: flex;
                background: var(--home-design-100);
                width: max-content;
                color: var(--home-dark-100);
                font-size: 14px;
                border-radius: 4ch;
                border: 2px solid transparent;
                transition: all 350ms ease;
                cursor: pointer;

                &:hover{   
                    background: var(--home-dark-100);
                    border: 2px solid var(--home-design-100);
                    color: var(--home-design-100);
                }
            }
        }

        @media(width < 500px){
            .hero-content{
                width: min(40rem, 100%);
                align-items: center;
                text-align: center;
    
                h4{
                    font-size:14px;
                }
    
                h1{
                    font-size: 50px;
                }
    
               
            }
        }
    }
}


/* the CSD converter section */
.exchange{
    width: 100%;
    .exchange-container{
        position: relative;


        .exchange-content{
            position: absolute;
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            box-shadow: 1px 1px 20px #0001;
            gap: 2rem;
            top: -6rem;
            left: 0;
            width: 100%;
            padding: 2rem;
            background: var(--home-text-lit-100);

            h6{
                font-size: 14px;
                color: var(--home-text-dark-200);
            }

            form{
                display: flex;
                align-items: end;
                font-weight: 700;
                gap: 1rem;

                .input-field{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    label{
                        font-size: 10px;
                        font-weight: 500;
                        color: var(--home-text-dark-200);
                    }

                    input{
                        padding: 1rem 2rem;
                        border-radius: 4ch;
                        border: 1px solid var(--home-text-lit-200);
                        color: var(--home-text-dark-200);
                        outline: none;
                    }
                }   


                button{
                    padding: 1rem 2rem;
                    border-radius: 4ch;
                    border: none;
                    outline: none;
                    background: var(--home-design-100);
                }
            }


            @media(width < 500px){
                form{
                    flex-direction: column;
                    /* align-items: center; */
                    gap: 1rem;
                }
            }
        }
    }
}

/* the about section */
.about{
    padding: 15rem  0 5rem;

    .about-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;

        .about-content{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h4{
                font-size: 16px;
                font-weight: 900;
                -webkit-text-stroke: 1px var(--home-text-dark-100);
                color: var(--home-design-100);
            }

            h2{
                font-size: 22px;
                font-weight: 900;
                text-transform: uppercase;
                position: relative;
                width: max-content;
                padding: .5rem;
                margin-bottom: 2rem;

                &::after{
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 50%;
                    height: 3px;
                    background: var(--home-design-100);
                }
                &::before{
                    content: " ";
                    position: absolute;
                    bottom: -.7rem;
                    left: 0;
                    width: 30%;
                    height: 3px;
                    background: var(--home-design-100);
                }
            }

            p{
                font-size: 14px;
                line-height: 25px;
                color: var(--home-text-dark-200);
                font-weight: 500;
            }

            .about-btns{
                display: flex;
                gap: 2rem;
            }

            .status{
                padding: 3rem 0 0 ;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 2rem;

                .status-box{
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    i{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        border-radius: 5px;
                        align-items: center;
                        border: 1px solid var(--home-design-100);
                    }

                    h6{
                        display: flex;
                        flex-direction: column;
                        gap: .7rem;
                        font-weight: 500;
                        color: var(--home-text-dark-200);

                        span{
                            font-weight: 600;
                            color: var(--home-text-dark-100);
                        }
                    }
                }
            }
        }
        .about-image{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

     @media(width < 1100px){
        .about-container{
            .about-image{
                width: 100%;
                height: 40rem;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
     @media(width < 950px){
        .about-container{
            grid-template-columns: repeat(1,1fr);
            .about-image{
                width: 100%;
                height: 40rem;
            }
        }
    }

    @media(width < 500px){        
        .about-container{
            grid-template-columns: repeat(1,1fr);
            .about-image{
                width: 100%;
                height: 30rem;
    
                img{
                    object-fit: contain;
                }
            }

            .about-content{
                align-items: center;
                h4{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 900;
                    -webkit-text-stroke: 1px var(--home-text-dark-100);
                    color: var(--home-design-100);
                }
    
                h2{
                    &::after{
                        left: 25%;
                    }
                    &::before{
                        left: 35%;
                    }
                }
    
                p{
                    text-align: center;
                }
    
                .about-btns{
                    display: flex;
                    gap: 2rem;
                }
    
                .status{
                    padding: 3rem 0 0 ;
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(2,1fr);
                    gap: 2rem;
    
                    .status-box{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
    
                        i{
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            border-radius: 5px;
                            align-items: center;
                            border: 1px solid var(--home-design-100);
                        }
    
                        h6{
                            display: flex;
                            flex-direction: column;
                            gap: .7rem;
                            font-weight: 500;
                            color: var(--home-text-dark-200);
    
                            span{
                                font-weight: 600;
                                color: var(--home-text-dark-100);
                            }
                        }
                    }
                }
            }
        }
        
    }
    @media(width < 350px){        
        .about-container{
            grid-template-columns: repeat(1,1fr);

            .about-content{
                h2{
                    font-size: 14px !important;
                }

                .about-btns{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }
    
                .status{
                    padding: 3rem 0 0 ;
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(2,1fr);
                    gap: 2rem;
    
                    .status-box{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 1rem;
                    }
                }
            }
        }
        
    }
}
@media(width < 500px){
    .about{
        padding-top: 20rem;
    }
}


/* the solution */
.solution{  
    padding: 8rem 0 5rem;
    background: var(--home-design-lit);

    .solution-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        .solution-image{
            height: 30rem;
            width: 100%;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: left;
            }
        }
        .solution-content{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h4{
                font-size: 16px;
                font-weight: 900;
                -webkit-text-stroke: 1px var(--home-text-dark-100);
                color: var(--home-design-100);
            }

            h2{
                font-size: 22px;
                font-weight: 900;
                text-transform: uppercase;
                position: relative;
                width: max-content;
                padding: .5rem;
                margin-bottom: 2rem;

                &::after{
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 50%;
                    height: 3px;
                    background: var(--home-design-100);
                }
                &::before{
                    content: " ";
                    position: absolute;
                    bottom: -.7rem;
                    left: 0;
                    width: 30%;
                    height: 3px;
                    background: var(--home-design-100);
                }
            }

            h6{
                font-size: 16px;
            }
            p{
                font-size: 14px;
                line-height: 25px;
                color: var(--home-text-dark-200);
                font-weight: 500;
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 2rem;

                li{
                    display: flex;
                    gap: 1rem;
                    list-style: none;
                    font-size: 14px;
                    color: var(--home-text-dark-200);

                    i{
                        font-size: 18px;
                    }
                }
            }
          
        }
    }

    @media(width < 950px){

        .solution-container{
            grid-template-columns: repeat(1,1fr);

            .solution-image{
              display: none;
            }
        }
    }

    @media(width < 450px){

        .solution-container{
            .solution-content{
                display: flex;
                flex-direction: column;
                gap: 1rem;
    
                h4{
                    font-size: 16px;
                    font-weight: 900;
                    -webkit-text-stroke: 1px var(--home-text-dark-100);
                    color: var(--home-design-100);
                }
    
                h2{
                    font-size: 12px !important;
                    font-weight: 900;
                    text-transform: uppercase;
                    position: relative;
                    width: max-content;
                    padding: .5rem;
                    margin-bottom: 2rem;
    
                    &::after{
                        content: " ";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 50%;
                        height: 3px;
                        background: var(--home-design-100);
                    }
                    &::before{
                        content: " ";
                        position: absolute;
                        bottom: -.7rem;
                        left: 0;
                        width: 30%;
                        height: 3px;
                        background: var(--home-design-100);
                    }
                }
    
                h6{
                    font-size: 14px;
                }
                p{
                    font-size: 12px;
                }
    
                ul{
    
                    li{
                        font-size: 12px;
    
                        i{
                            font-size: 14px;
                        }
                    }
                }
              
            }
        }
    }
}

/* Goals */
.goals{
    padding: 8rem 0 8rem;
    background: var(--home-text-dark-100);
    overflow-y: hidden;

    .goals-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .goal-top{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .goal-content{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: min(70rem, 100%);

                h4{
                    font-size: 18px;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: var(--home-design-lit);
                }

                p{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 23px;
                    color: var(--home-design-lit);
                }
            }
        }

        .goal-cards-container{
            position: relative;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3,1fr);
            place-items: center;

            .goal-card{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 2rem;
                 background: var(--home-dark-200);
                 min-height: 20rem;
                 height: fit-content;
                 justify-content: start;
                 align-items: center;
                 text-align: center;
                 border-radius: 10px;
                 border: 1px solid #303030;

                 i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    width: 70px;
                    height: 70px;
                    color: var(--home-design-200);
                    background: #e28b001e;
                    border-radius: 50%;
                 }

                 h6{
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--home-text-lit-100);
                 }

                 p{
                    font-size: 12px;
                    line-height: 20px;
                    color: var(--home-design-lit);
                 }
            }

            .larger{
                height: 25rem;
            }

            &::after{
                content: "";
                position: absolute;
                bottom: -11rem;
                left: 0;
                width: 100%;
                height: 10rem;
                border-radius: 50%;
                background: rgb(65,65,65);
                background: linear-gradient(180deg, rgba(37, 37, 37, 0.844) 0%, rgba(0,0,0,0) 40%);
            }
        }
    }


    @media(width < 950px){
        .goals-container{
            .goal-top{
                text-align: center;
                flex-direction: column;
                gap: 2rem;
            }
            .goal-cards-container{
                grid-template-columns: repeat(2, 1fr);

                .goal-card{
                    height: 25rem;
                }

                .larger{
                    height: 25rem;
                }
            }
        }
    }

    @media(width < 850px){
        .goals-container{
            
            .goal-cards-container{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    @media(width < 550px){
        .goals-container{
            
            .goal-cards-container{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

/* call to action section*/
.calltoaction{
    padding: 5rem 0;

    .calltoaction-container{   
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;

        h4{
            font-size: 16px;
            font-weight: 900;
            -webkit-text-stroke: 1px var(--home-text-dark-100);
            color: var(--home-design-100);
            }

        h2{
            font-size: 22px;
            font-weight: 900;
            text-transform: uppercase;
            position: relative;
            width: max-content;
            padding: .5rem;
            margin-bottom: 2rem;

            &::after{
                content: " ";
                position: absolute;
                bottom: 0;
                left: 25%;
                width: 50%;
                height: 3px;
                background: var(--home-design-100);
            }
            &::before{
                content: " ";
                position: absolute;
                bottom: -.7rem;
                left: 35%;
                width: 30%;
                height: 3px;
                background: var(--home-design-100);
            }
        }

        p{
            font-size: 14px;
            line-height: 25px;
            color: var(--home-text-dark-200);
            font-weight: 500;
        }
    }

    @media(width < 950px){
        .calltoaction-container{
            h2{
                font-size: 14px;
                display: flex;
                flex-direction: column;
            }
        }
    }
}


/* transaction */
.transaction{
    padding: 10rem 0 5rem;
    background: var(--home-text-dark-100);
    .transaction-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;

        .transaction-image{
            background: var(--dsgn);
            border-radius: 10px;
            overflow: hidden;
            height: 50rem;
            width: 100%;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
            }
        }
        .transaction-content{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2{
                font-size: 26px;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                color: var(--home-text-lit-100);
                margin-bottom: 1rem;
            }
            > p{
                font-size: 14px;
                line-height: 23px;
                color: var(--home-design-lit);
                font-weight: 500;
            }

        .transaction-box-container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: var(--home-text-lit-100);
            padding: 1rem 0;

            .transaction-box{
                display: flex;
                gap: 1rem;
                align-items: center;
                padding: 1rem;
                background: var(--home-dark-200);
                border-radius: 10px;

                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    width: 50px;
                    height: 50px;
                    color: var(--home-design-200);
                    background: #e28b0016;
                    border-radius: 5px;
                }

                .box-content{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    h6{
                        font-size: 14px;
                        color: var(--home-text-lit-100);
                    }

                    p{
                        font-size: 12px;
                        color: var(--home-design-lit);
                    }
                }


            }

        }            
          
        }
    }

   @media(width < 900px){
    .transaction-container{
        grid-template-columns: repeat(1, 1fr);
    }
   }
   @media(width < 500px){
    .transaction-container{
        .transaction-image{
            height: 30rem;
        }
    }
   }
   @media(width < 400px){
    .transaction-container{
        .transaction-image{
            height: 20rem;
        }
    }
   }
}


/* the faq section */
.faq{
    padding: 10rem 0 5rem;

    .faq-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;


        .faq-image-container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 3rem;
            border-radius: 10px;
            background: var(--home-text-dark-100);
            color: #d6d6d6;

            h6{
                font-size: 14px;
                font-weight: 900;
                color: var(--home-text-lit-100);
            }
            h1{
                font-size: 44px;
                font-weight: 900;
                color: var(--home-design-100);
            }

            p{
                font-size: 12px;
                color: var(--home-text-lit-200);
                font-weight: 500;
                padding: 0 0 4rem;
                line-height: 20px;
            }


            .faq-image{
                width: 100%;
                height: 30rem;
                border-radius: 5px;
                border: 1px solid var(--home-text-dark-200);
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

        .faq-content{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .row{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                

                .faq-item{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    /* padding: 2rem; */
                    background: var(--home-design-lit);
                    border-radius: 10px;
                    cursor: pointer;

                    h6{
                        font-size: 16px;
                        font-weight: 700;
                        color: var(--home-text-lit-100);
                    }

                    p{
                        font-size: 14px;
                        color: var(--home-text-dark-200);
                        font-weight: 500;
                        line-height: 25px;
                    }

                    .faq-question{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 2rem;
                    }
                    
                    .faq-answer {
                        padding: 0 2rem 2rem;
                        display: none;
                    }
                }
                .faq-item .active{
                    .faq-answer{
                        display: block;
                    }
                }
            }
        }
    }

    @media(width < 950px){
        .faq-container{
            grid-template-columns: repeat(1,1fr);

            .faq-image-container{
                .faq-image{
                    display: none;
                }
            }
        }

    }
    @media(width < 550px){
        .faq-container{
            grid-template-columns: repeat(1,1fr);

            .faq-image-container{
                padding: 1rem;

                h1{
                    font-size: 18px !important;
                } 
            }
            .faq-content{
               
                .row{
                   
                    .faq-item{
                        .faq-question{
                            padding: 1rem 1rem;
                            h3{
                                font-size: 12px !important;
                                font-weight: 500;
                            }
                        }
                        
                        .faq-answer {
                            padding: 0 1rem 1rem;
                            display: none;
                        }
                    }
                    .faq-item .active{
                        .faq-answer{
                            display: block;
                        }
                    }
                }
            }
        }

    }
    @media(width < 350px){
        .faq-container{
            grid-template-columns: repeat(1,1fr);

            .faq-image-container{
                padding: 1rem;

                h1{
                    font-size: 14px !important;
                } 
            }
            .faq-content{
               
                .row{
                   
                    .faq-item{
                        .faq-question{
                            padding: 1rem 1rem;
                            h3{
                                font-size: 12px !important;
                                font-weight: 500;
                            }
                        }
                        
                        .faq-answer {
                            padding: 0 1rem 1rem;
                            display: none;
                        }
                    }
                    .faq-item .active{
                        .faq-answer{
                            display: block;
                        }
                    }
                }
            }
        }

    }
}


/* download section */

.download{
    padding: 5rem 0;
    .download-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 2rem;
        background: #f2f2f2;
        border-radius: 10px;

        .download-content{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h4{
                font-size: 18px;
                text-transform: uppercase;
            }
            p{
                font-size: 14px;
                line-height: 23px;
            }

            .download-btns{
                display: flex;
                gap: 2rem;
            }
        }

        .download-image{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;

            img{
                width: 100%;
                height: 15rem;
                object-fit: cover;
            }
        }
    }

    @media(width < 950px){
        .download-container{
            grid-template-columns: repeat(1,1fr);

            .download-content{
                text-align: center;
                
                .download-btns{
                    justify-content: center;
                }
            }

            .download-image{
                display: none;
            }
        }
    }
    @media(width < 950px){
        .download-container{
            grid-template-columns: repeat(1,1fr);

            .download-content{
            
                
                .download-btns{
                    justify-content: center;
                    flex-direction: column;
                }
            }

            .download-image{
                display: none;
            }
        }
    }
}



/* footer */
footer{
    background: var(--home-text-dark-100);
    display: flex;
    padding: 5rem 0;

    .footer-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 3rem;

        .span-2{
            grid-column: span 2;
        }

        .footer-tab{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h4{
                font-size: 24px;
                color: var(--home-design-lit);
            }

            form{
                display: flex;
                width: 100%;
                padding: 1rem;
                background: var(--home-text-lit-100);
                border-radius: 4ch;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 1rem;
                }
                button{
                    display: flex;
                    gap: 1rem;
                    padding: 1rem 2rem;
                    border-radius: 4ch;
                    border: none;
                    cursor: pointer;
                    background: var(--home-text-dark-100);
                    color: var(--home-design-lit);
                    transition: all 350ms ease;

                    &:hover{
                        background: var(--home-design-100);
                        color: var(--home-text-dark-100);
                    }
                }
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li{
                    list-style: none;
                    
                    a{
                    text-decoration: none;
                    font-size: 14px;
                    color: var(--home-text-lit-100);
                    cursor: pointer;

                    &:hover{
                        color: var(--home-design-100);
                    }
                    }
                }
            }
        }
    }

    @media(width < 950px){
        .footer-container{
            grid-template-columns: repeat(2,1fr);
        }
    }
}
.bgd{
    background: var(--home-design-200);
    height: 3rem;
}



/* ===========for authentication pages */

.form{
    position: relative;
    min-height: 100vh;
    padding: 2rem 0;
    background: url(../image/thirdbg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #d8a75d9f;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2{
            font-size: 30px;
            font-weight: 900;
            text-transform: capitalize;
        }
        p{
            width: min(60rem, 100%);
            padding: 2rem 0;
            font-size: 18px;
            color: var(--dark-200);
            line-height: 25px;
        }
    }
}


/* the form */
.form form{
    width: min(60rem, 100%);
    margin: auto;
    background: #ffffff8a;
    box-shadow: 1px 5px 10px #0001;
    padding: 4rem;
    display: flex;
    border-radius: 20px;

    flex-direction: column;
    gap: 2rem;
    align-items: center;


    img{
        width: 70px;
    }

    h3{
        font-size: 24px;
        font-weight: 800;
        text-transform: capitalize;
        color: var(--dark-100);
    }


    a{
        text-transform: capitalize;
        text-decoration: none;
        text-align: right;
        color: var(--dark-200);
        font-weight: 700;
        width: 100%;
    }


    label{
        width: min(30rem,100%);
        color: var(--dark-200);
        text-align: start;
        text-transform: capitalize;
        font-weight: 700;
        padding-top: 1rem;
    }

    /* the media icons */
    .media{
        display: flex;
        gap: 2rem;
        .mediaicon{
            width: 30px;
            height: 30px;
            object-fit: cover;
            transition: all 500ms ease;

            &:hover{
                scale: 1.1;
            }
        }
    }

}

.form .form-gap{
    gap: 1rem;
}


/* input fields */
.form form .input-field{
    width: 100%;
    border: 1px solid var(--dark-300);
    border-radius: 10px;
    
    input{
        width: 100%;
        font-size: 14px;
        padding: 1rem;
        border: none;
        outline: none;
        background: transparent;
    }
    ::placeholder{
        font-size: 12px;
        text-transform: capitalize;
        color: var(--dark-300);
        
    }
}
.form form .forg{
    width: min(30rem,100%);
}



/* form buttons */

.form form .btn,
.form form button{
    width: 100%;
    padding: 1rem;
    text-align: center;
    border: none;
    background: var(--dsgn);
    font-size: 14px;
    font-weight: 700;
    color: var(--lit-100);
    border-radius: 10px;
    box-shadow: 1px 5px 5px #00000056 !important;
    cursor: pointer;
    z-index: 1;
    transition: all 500ms ease;
    text-transform: capitalize;
    
    &:hover{
        background: var(--dark-100);
    }
}


/* the display message at the button of the form after the button */
.form form p{
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-200);
    
    a{
        font-size: 14px;
        color: var(--dsgn);
        text-decoration: none;
        font-weight: 700;
    }
}


/* ===========a different design for login */

.login-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;

    h2{
        font-size: 50px;
        color: var(--dark-100);
    }
        form{
        width: min(40rem, 100%);
    }
}



@media(width < 900px){

    .container{
        width: 80%;
    }

    /* the index page */

    /* nav */
    nav{
        .nav-container{
            .right{
                justify-content: end;
                ul{
                    display: none;
                }
                .menu-icon{
                    display: inline;
                    position: relative;
                    z-index: 1000;
                }
            }
        }
    }
    /* nav */
    
    /* home */
    .home{
        .home_container{
            .row-grid{
                grid-template-columns: repeat(1, 1fr);
                gap: 5rem;
                .col{
                    text-align: center;
                    align-items: center;
                }
            }
        }
    }
    /* home */

    /* about */
    .about{
        .about-container{
            .row{
                grid-template-columns: repeat(1, 1fr);
                gap: 5rem;
                .col{
                    text-align: center;
                }
            }
        }
    }
    /* about */
    
    /* solution */
    .solution{
        .solution-container{
            .row{
                grid-template-columns: repeat(1, 1fr);
                gap: 5rem;
            }
        }
    }
    /* solution */


    /* solution */
    .goals{
        .goals-container{
            .row{
                grid-template-columns: repeat(1, 1fr);
                gap: 5rem;
            }
        }
    }
    /* solution */
    
    
    /* solution */


    /* the index page */





    .login-container{
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }

    
}
@media(width < 700px){

    .container{
        width: 90%;
    }

     /* nav */
     nav{
        .nav-container{
            .right{
               .action-box{
                display: none;
               }
            }
        }
    }
    /* nav */
  

    side-bar{
        width: 100%;
    }
    side-bar.active{
        left: 0;
    }
    

    .status{
        .row{
            grid-template-columns: repeat(2,1fr);
        }
    }

    .display{
        .row{
            grid-template-columns: repeat(1,1fr);
            gap: 2rem;
        }
    }


    .faq{
        .faq-container{
            .row{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }


    .form 

    .form-container{
        form{
            padding: 2rem;
        h2{
            font-size: 20px;
        }

        p{
            font-size: 14px;
            line-height: 20px;
        }
    }
    }

    .login-container{
     h2{
        font-size: 30px;
        font-weight: 900;
     }
    }
}



@media(width < 690px){
    
        .contact{
            padding: 5rem 1rem;
            .form-container{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 2rem
            }
            .btn-container{
                display: flex;
                button{
                    padding: 2rem 3rem;
                }
        }
        }
}

@media(width < 490px){

    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 18px !important;
    }


    h3{
        font-size: 16px !important;
    }


    h4{
        font-size: 14px !important;
    }
    h6{
        font-size: 14px !important;
    }

    p{
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .calltoaction-container{
        h2{
            font-size: 12px !important;
            display: flex;
            flex-direction: column;
        }
    }

}

.normal-btn{
    padding: .8rem 2.8rem;
    text-decoration: none;
    display: flex;
    background: var(--home-design-100);
    width: max-content;
    color: var(--home-dark-100);
    font-size: 14px;
    border-radius: 4ch;
    border: 2px solid transparent;
    transition: all 350ms ease;
    cursor: pointer;
        &:hover{   
            background: transparent;
            border: 2px solid var(--home-design-100);
            color: var(--home-design-100);
        }
}
.border-btn{
    padding: .8rem 2.8rem;
    text-decoration: none;
    display: flex;
    width: max-content;
    font-size: 14px;
    border-radius: 4ch;
    transition: all 350ms ease;
    border: 2px solid var(--home-design-100);
    background: transparent;
    color: var(--home-design-100);
    cursor: pointer;
    
    &:hover{   
        color: var(--home-dark-100);
        border: 2px solid transparent;
        background: var(--home-design-100);
        }
}
.normal-orange{
    padding: .8rem 2.8rem;
    text-decoration: none;
    display: flex;
    background: var(--home-design-200);
    width: max-content;
    color: var(--home-dark-100);
    font-size: 14px;
    border-radius: 4ch;
    border: 2px solid transparent;
    transition: all 350ms ease;
    cursor: pointer;
        &:hover{   
            background: transparent;
            border: 2px solid var(--home-design-200);
            color: var(--home-design-200);
        }
}

.border-orange-btn{
    padding: .8rem 2.8rem;
    text-decoration: none;
    display: flex;
    background: transparent;
    width: max-content;
    color: var(--home-design-200);
    font-size: 14px;
    border-radius: 4ch;
    border: 2px solid var(--home-design-200);
    transition: all 350ms ease;
    cursor: pointer;

        &:hover{   
            background: var(--home-design-200);
            border: 2px solid transparent;
            color: var(--home-text-dark-100);
        }
}




